* { 
    padding-left: 11;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(247, 236, 232);
    color: black;
    padding-top: 50px;
}
header {
    background: black;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;

}   
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
nav ul li a:hover {
    background: black;
    border-radius: 5px;
}
main {
    padding: 20px;
    margin-top: 50px;
}
section {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px white(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}